
.nav-link{
  font-family: sans-serif;
  color: #444444;
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px !important;
  padding-left: 20px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  }

  #logo{
    height: 80px;
    width: 166.92px;
    margin-left: 80px;
    margin-right: 110px;
  }

.page-title{
  color: #52caf5;
  font-family: "Lato";
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 80px;
  font-size: 90px;
}

.about-text{
  align: center;
  line-height: 2;
  margin-left: 80px;
  float: left;
}

.container{
  height: 428.33;
  width: 428.33;
  float: right;
  margin:0;
}

.email{
  margin-left:120px;
  margin-top: 30px;
}

#button{
  margin-top:30px;
  border-radius: 20%;
  margin-left: 600px;
}
